@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;500;700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10em;
    margin: unset;
    padding: 5em 15em;
    font-family: 'IBM Plex Sans';
    color: #303030;
}

.settings {
    display: flex;
    justify-content: center;
    align-items: center;
}

.settings--container {
    flex-direction: column;
    min-width: 25em;
    min-height: 35em;
    background-color: #33a3ff;
    color: white;
    border-radius: 3em;
}

.canvas {
    display: grid;
    min-width: 50em;
    min-height: 50em;
}

.canvas--gridlines {
    border: 1px dashed rgb(0, 0, 0, 0.075);
}

.canvas--shadow {
    box-shadow: 0 0 1.25em #858585;
}

.canvas__pixel {
    background-color: #303030;
}