@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;500;700&display=swap');
html {
    font-family: 'IBM Plex Sans';
    color: #303030;
    background-color: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2.5em;
    padding-bottom: 0;
    transition: all 0.125s ease-in-out;
}

.content__body {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 1.25em;
    height: 25em;
    width: 5em;
    padding: 0.25em;
    background-color: white;
    border-radius: 3em;
}

.settings__colorpicker {
    width: 5em;
    height: 5em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.125s linear; 
}

.settings__button {
    width: 1.5em;
    height: 1.5em;
    padding: 0.5em;
    background-color: white;
    border-radius: 2.5em;
    box-shadow: 0 0 0.3em rgb(0, 0, 0, 0.3);
    transition: all 0.125s linear;
}

.settings__slider {
    width: 12.5em;
    height: 0.5em;
    background: linear-gradient(to right, #303030 0%, #303030 25%, #fff 25%, #fff 100%);
    border: 0.5px solid #505050;
    border-radius: 2.5em;
    cursor: pointer; 
    transition: all ease-in-out;
    -webkit-appearance: none;
}


.settings__colorpicker::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
    box-shadow: 0 0.1em 0.3em rgb(0, 0, 0, 0.3);
}

.canvas {
    display: grid;
    min-width: 50em;
    min-height: 50em;
    background-color: white;
}

.content__slider {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

 .content__footer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
   gap: 0.25em;
   margin: 0;
}

.footer__icon {
    width: 1em;
    height: 1em;
    transition: all 0.1s ease-in-out;
}

.content__modal-background {
    position: fixed;
    z-index: 1;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0, 0.3);
    transition: all 0.25s ease-in-out;
}

.modal__display-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 25em;
    padding: 5em;
    background-color: white;
    border-radius: 1.25em;
    animation: all 0.25s ease-in-out;
}

/* Skins */

.settings__slider::-webkit-slider-runnable-track {
    height: 0.3em;
    box-shadow: 0 0 rgb(0, 0, 0, 0.3);
    border-radius: 10em;
}
  
.settings__slider::-webkit-slider-thumb {
    width: 1.5em;
    height: 1.5em;
    margin: -8px 0;
    background: white;
    border-radius: 50%;
    border: 0px solid #000000;
    box-shadow: 0 0 0.25em rgb(0, 0, 0, 0.75);
    -webkit-appearance: none;
}

.settings--palette { 
    flex-direction: column;
    gap: 0;
    height: 30em;
    border: none;
}

.colorpicker--palette::-webkit-color-swatch {
    transition: all 0.2s ease-in-out;
}

.canvas--gridlines {
    border: 0.01px solid rgb(0, 0, 0, 0.05);
}

.shadow {
    box-shadow: 0 0em 0.25em rgb(0, 0, 0, 0.3);
}

.hide {
    display: none;
}

/* Animations */

.show-modal {
    animation: modal-show 0.25s ease-in-out;
}

@keyframes modal-show {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

.close-modal {
    animation: modal-close 0.25s ease-in-out;
}

@keyframes modal-close {
    0% {
        transform: scale(1);
    }
    
    100% {
        transform: scale(0);
    }
}

.settings__colorpicker:hover {
    transform: scale(1.10);
}

.settings__button:hover {
    color: white;
    background-color: #d5d5d5;
    filter: invert(100%);
}

.settings__button:active {
    transform: scale(1.15);
    color: white;
    background-color: #101010;

}

.update-color {
    animation: update 0.5s 1 ease-in-out;
}

@keyframes update {
    
    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

.rotate {
    animation: rotation 0.75s 1 ease-in-out;
}

@keyframes rotation {
    to { 
        transform: rotate(360deg); 
    }
  }
  
.footer__icon:hover {
    transform: scale(1.25);
} 
