@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@100;200;400;500;700&display=swap');
html {
    font-family: 'IBM Plex Sans';
    color: #303030;
    background-color: #f0f0f0;
}

body {
    display: flex;
    flex-direction: column;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 2.5em;
    padding-bottom: 0;
    transition: all 0.125s ease-in-out;
}

.content__body {
    display: flex;
    align-items: center;
    gap: 1.25em;
}

.settings {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    gap: 1.25em;
    height: 20em;
    width: 5em;
    padding: 0.25em;
    background-color: white;
    border-radius: 3em;
}

.settings__colorpicker {
    width: 5em;
    height: 5em;
    background-color: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    transition: all 0.125s linear; 
}

.settings__colorpicker::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
    box-shadow: 0 0.1em 0.3em rgb(0, 0, 0, 0.3);
}

.settings__button {
    width: 2.5em;
    height: 2.5em;
    padding: 0.5em;
    background-color: transparent;
    border: 1.5px solid #303030;
    border-radius: 2.5em;
    transition: all 0.125s linear;
}

.settings__slider {
    width: 12.5em;
    height: 0.5em;
    background: linear-gradient(to right, #303030 0%, #303030 25%, #fff 25%, #fff 100%);
    border: 0.5px solid #505050;
    border-radius: 2.5em;
    cursor: pointer; 
    transition: all ease-in-out;
    -webkit-appearance: none;
}

.canvas {
    display: grid;
    min-width: 50em;
    min-height: 50em;
    background-color: white;
}

 .footer {
   display: flex;
   align-items: center;
   justify-content: center;
   flex: 1;
   margin: 0;
}

/* Skins */

.settings__slider::-webkit-slider-runnable-track {
    height: 0.3em;
    box-shadow: 0 0 rgb(0, 0, 0, 0.3);
    border-radius: 10em;
}
  
.settings__slider::-webkit-slider-thumb {
    width: 1.5em;
    height: 1.5em;
    margin: -8px 0;
    background: white;
    border-radius: 50%;
    border: 0px solid #000000;
    box-shadow: 0 0 0.25em rgb(0, 0, 0, 0.75);
    -webkit-appearance: none;
}

.settings--palette { 
    flex-direction: column;
    gap: 0;
    height: 30em;
    border: none;
}

.colorpicker--palette::-webkit-color-swatch {
    transition: all 0.2s ease-in-out;
}

.canvas--gridlines {
    border: 0.01px solid rgb(0, 0, 0, 0.05);
}

.shadow {
    box-shadow: 0 0em 0.25em rgb(0, 0, 0, 0.3);
}

.hide {
    display: none;
}

/* Animations */

.settings__colorpicker:hover {
    transform: scale(1.10);
}
.settings__button:hover {
    transform: scale(1.15);
    color: white;
    background-color: #303030;
}

.settings__button:active {
    transform: scale(1.05);
    color: white;
    background-color: #101010;
}


